{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Proyecto Nornir</title>
</head>
<body>
    {% comment %} <nav class="navbar container">
        <ul>
            <li>
                <a class="navbar-brand" href="{% url 'index' %}">Config</a>
            </li>
            <li>
                <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a class="navbar-brand" href="{% url 'signup' %}">Signup</a>
            </li>
            <li>
                <a class="navbar-brand" href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a class="navbar-brand" href="{% url 'download' %}">Download</a>
            </li>
        </ul>
    </nav>
    <hr> {% endcomment %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <!-- Navbar content -->
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Config</a>
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <a class="navbar-brand" href="{% url 'signup' %}">Signup</a>
            <a class="navbar-brand" href="{% url 'login' %}">Login</a>
            <a class="navbar-brand" href="{% url 'download' %}">Download</a>
          </div>
      </nav>
    {% comment %} <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Navbar</a>
          <a class="navbar-brand">Navbar</a>
          <a class="navbar-brand">Navbar</a>
          <a class="navbar-brand">Navbar</a>
          <a class="navbar-brand">Navbar</a>
          <a class="navbar-brand">Navbar</a>
        </div>
    </nav> {% endcomment %}
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
    
</body>
</html>