{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Proyecto Nornir</title>
    {% comment %} <link rel="icon" href="{% static 'img/icon.png' %}" type="image/x-icon"> {% endcomment %}
    {% comment %} {% load static %}
    <img src="{% static '/imagenes/logo.jpg' %}" alt="My image" width="20px"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'styles/main.css' %}"> {% endcomment %}
</head>
<body>
    <nav class="navbar container">
        <ul>
            <li>
                <a href="{% url 'index' %}">Config</a>
            </li>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'signup' %}">Signup</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'download' %}">Download</a>
            </li>
        </ul>
    </nav>
    <hr>
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
    
</body>
</html>