{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <main class="container-main">
        <div class="formSwitch">
            <h1>Interfaz de Configuración</h1>
                <form method="post">
                    {% csrf_token %}
                    <input type="checkbox" name="switch1" value="10.1.8.131">
                    <label for="switch1">Switch-1</label><br>

                    <input type="checkbox" name="switch2" value="10.1.8.132">
                    <label for="switch2">Switch-2</label><br>

                    <label for="username">Username</label>
                    <input type="text" placeholder="Usuario" id="username" name="username">

                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" id="password" name="password">

                    <label for="administrator">Administrador</label>
                    <input type="radio" name="permiso" id="administrator" value="admin">
                    
                    <label for="viewer">Visor</label>    
                    <input type="radio" name="permiso" id="viewer" value="viewer">
                    
                    <button type="submit" id="sent">Enviar</button>
                </form>
        </div>
    </main>
</body>
{% endblock content %}
