{% extends 'layouts/base-admin.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <title>Document</title>
</head>
<body>
    <main class="container-main">
        <div class="formSwitch">
            <h1>Crear usuarios en los switch listados</h1>
                <form method="post" >
                    {% csrf_token %}
                    <h5>Seleccione uno o ambos switches</h5>
                    <div class="div-form-config">
                        <input type="checkbox" name="switch1" value="10.1.8.131">
                        <label for="switch1">Switch-1</label><br>

                        <input type="checkbox" name="switch2" value="10.1.8.132">
                        <label for="switch2">Switch-2</label><br>
                    </div>
                    <hr>
                    <h5>Ingrese el usuario y contraseña que desea crear</h5>
                    <div class="div-form-config">
                        <label for="username">Username</label>
                        <input type="text" placeholder="Usuario" id="username" name="username">
                    </div>
                    <div class="div-form-config">
                        <label for="password">Password</label>
                        <input type="password" placeholder="Password" id="password" name="password">
                    </div>
                    <hr>
                    <h5>Seleccione una opción como permiso</h5>
                    <div class="div-form-config">
                        <input type="radio" name="permiso" id="administrator" value="admin">
                        <label for="administrator">Administrador</label>
                    </div>     
                    <div class="div-form-config">
                        <input type="radio" name="permiso" id="viewer" value="viewer">
                        <label for="viewer">Visor</label>    
                    </div>
                    <hr>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" id="sent">Enviar</button>
                    </div>   
                </form>
        </div>
    </main>
</body>
{% endblock content %}
