<!-- En templates/mi_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Botón con Django</title>
</head>
<body>
    <h1>index.html</h1>

    {{hello}}

    <form id="miFormulario" method="post">
        {% csrf_token %}
        <button type="submit">ejecutar</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // Obtén el valor del token CSRF de la cookie
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length === 2) return parts.pop().split(";").shift();
        }
        
        // Agrega un manejador de eventos para el formulario
        document.getElementById('miFormulario').addEventListener('submit', function(event) {
            event.preventDefault(); // Previene el envío tradicional del formulario
            // Solo envía la solicitud POST si se hizo clic en el botón
            if (event.submitter.tagName === "BUTTON") {
                // Obtiene el token CSRF
                var csrftoken = getCookie('csrftoken');

                // Agrega el token CSRF al encabezado de la solicitud
                axios.defaults.headers.post['X-CSRFToken'] = csrftoken;

                // Envía la solicitud POST
                axios.post('', {})
                    .then(response => console.log(response.data)) // Muestra la respuesta en la consola del navegador
                    .catch(error => console.error(error));
            }
        });
    </script>
</body>
</html>

