<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> {% endcomment %}
</head>
<body>
    <main class="container-main">
        <div class="formSwitch">
            <h1>Interfaz de Configuración</h1>
                <form method="post">
                    {% csrf_token %}
                    <input type="checkbox" name="switch1" value="True">
                    <label for="switch1">Opción 1</label><br>
                    <input type="checkbox" name="switch2" value="True">
                    <label for="switch2">Opción 2</label><br>
                    <button type="submit">Enviar</button>
                </form>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // Agrega un evento clic al botón con id="enviar"
        document.getElementById('enviar').addEventListener('click', function() {
            // Llama a la función saludo usando Axios
            axios.get('/saludo/')
                .then(function(response) {
                    console.log(response.data);
                })
                .catch(function(error) {
                    console.error(error);
                });
        });
    </script>
</body>