<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">Registro</title>
    
    <!-- Agrega las referencias a Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        /* Estilos personalizados para resaltar las etiquetas */
        .form-label {
            font-weight: bold; /* Texto en negrita */
            {% comment %} color: #007bff; /* Color azul */ {% endcomment %}
        }
        h3 {
            {% comment %} color: #007bff; /* Color azul */  {% endcomment %}
        }
        .p-4{
            background-color: #ebeff3;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" class="p-4 border rounded shadow">
                    {% csrf_token %} 
                    <h3 class="mb-4">Regístrese</h3>
                    
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
                    </div>
    
                    <div class="mb-3">
                        <label for="lastname1" class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="lastname1" name="lastname1" placeholder="Apellido Paterno">
                    </div>

                    <div class="mb-3">
                        <label for="lastname2" class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control" id="lastname2" name="lastname2" placeholder="Apellido Materno">
                    </div>
    
                    <div class="mb-3">
                        <label for="password1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="Contraseña">
                    </div>
    
                    <div class="mb-3">
                        <label for="password2" class="form-label">Repetir Contraseña</label>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Repetir Contraseña">
                    </div>
    
                    <div class="mb-3">
                        <label class="form-label">Permiso</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="administrator" name="permiso" value="admin">
                            <label class="form-check-label" for="administrator">Administrador</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="viewer" name="permiso" value="viewer">
                            <label class="form-check-label" for="viewer">Visor</label>
                        </div>
                    </div>
    
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Agrega la referencia a Bootstrap JS (opcional si no necesitas funcionalidad de JavaScript de Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
